:root {
  --active-color: #2196f3;
  --hover-color: #188ce8;
  --inactive-color: #f5f4fa;
  --white: #ffffff;
  --primary-font-color: #212121;
  --secondary-font-color: #757575;
  --background-grey-color: #2f303a;
}

/* Обнуление и установка блочной модели на весь документ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Common styles */

body {
  font-family: 'roboto', sans-serif;
}

.btn {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
  margin-bottom: 50px;
  text-align: center;
}

.text-white {
  color: var(--white);
}

.text-grey {
  color: var(--secondary-font-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header and Footer logo */

.logo-black {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
  margin-right: 93px;
}

.logo-white {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-bottom: 20px;
  display: block;
}

.logo-blue-web {
  color: var(--active-color);
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

.header-box {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--active-color);
}

.nav-link.current {
  position: relative;
  color: var(--active-color);
}

.nav-link.current::after {
  position: absolute;
  content: '';
  background-color: var(--active-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--active-color);
}

/* Hero section */

.overlay {
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-grey-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bgd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  max-width: 696px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--active-color);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  min-width: 136px;
  min-height: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-color);
}

/* Work methods */

.methods-list {
  display: flex;
}

.methods-item:not(:last-child) {
  margin-right: 30px;
}

.methods-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-font-color);
  width: 270px;
  margin-bottom: 10px;
}

.methods-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  width: 270px;
}

.methods-icon {
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--inactive-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

/* Activities section */

.activities {
  padding-top: 0;
}

.activities-list {
  display: flex;
  justify-content: space-between;
}

.activities-item {
  position: relative;
}

.activities-title {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team section */

.team-section {
  background-color: var(--inactive-color);
}

.team-item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  display: flex;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-role {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--active-color);
}

.social-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white);
}

/* Client section */

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-item {
  display: block;
  height: 92px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--active-color);
}

.client-link:hover .client-logo,
.client-link:focus .client-logo {
  fill: var(--active-color);
}

/* Portfolio */

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  display: inline-block;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
  background-color: var(--inactive-color);
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:focus,
.portfolio-btn:hover {
  color: var(--white);
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--white);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-card-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-card-overview {
  display: block;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-font-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.portfolio-card {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 24px;
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-card-overview,
.portfolio-link:focus .portfolio-card-overview {
  transform: translateY(0);
}

/* Footer */

.footer {
  background-color: var(--background-grey-color);
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-social {
  margin-right: 93px;
}

.address-link {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link:hover,
.address-link:focus {
  color: var(--active-color);
}

.footer-right-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.social-link-footer {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer {
  fill: var(--white);
}

.social-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--active-color);
}

/* Sign-up field */

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.subscribe-email {
  min-width: 358px;
  min-height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--background-grey-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-email:focus {
  outline: none;
  border-color: var(--active-color);
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--active-color);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 29px;
  min-width: 200px;
  min-height: 50px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:focus,
.subscribe-button:hover {
  background-color: var(--hover-color);
}

/* Модальное окно и бэкдроп*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 528px;
  min-height: 581px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.close-btn-icon {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: var(--active-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-font-color);
}

.modal-form-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--active-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--active-color);
}

.modal-form-field {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-font-color);
  margin-bottom: 10px;
}

.modal-form-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  margin-top: 6px;
  padding: 12px 16px;
  margin-top: 4px;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  overflow: auto;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--active-color);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

.modal-form-checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 7px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-color: var(--active-color);
  background-image: url('../images/icon-check.svg');
  background-position: center;
  border-color: var(--active-color);
}

.modal-terms-text {
  text-decoration: underline;
  color: var(--active-color);
  margin-left: 5px;
}

.modal-submit-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white);
  background-color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:focus,
.modal-submit-button:hover {
  background-color: var(--hover-color);
}
